<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upup.mapper.InventoryMapper" >
  <resultMap id="BaseResultMap" type="com.upup.model.Inventory" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="GOODSUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STOREUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TYPE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATETIME" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="CHECKTIME" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="CREATER" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CHECKER" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STATE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, GOODSUUID, STOREUUID, NUM, TYPE, CREATETIME, CHECKTIME, CREATER, CHECKER, STATE, 
    REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inventory
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inventory
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.upup.model.Inventory" >
    insert into inventory (UUID, GOODSUUID, STOREUUID, 
      NUM, TYPE, CREATETIME, CHECKTIME, 
      CREATER, CHECKER, STATE, 
      REMARK)
    values (#{uuid,jdbcType=INTEGER}, #{goodsuuid,jdbcType=INTEGER}, #{storeuuid,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{createtime,jdbcType=DATE}, #{checktime,jdbcType=DATE}, 
      #{creater,jdbcType=INTEGER}, #{checker,jdbcType=INTEGER}, #{state,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.upup.model.Inventory" >
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="goodsuuid != null" >
        GOODSUUID,
      </if>
      <if test="storeuuid != null" >
        STOREUUID,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="checktime != null" >
        CHECKTIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="checker != null" >
        CHECKER,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="goodsuuid != null" >
        #{goodsuuid,jdbcType=INTEGER},
      </if>
      <if test="storeuuid != null" >
        #{storeuuid,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=DATE},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upup.model.Inventory" >
    update inventory
    <set >
      <if test="goodsuuid != null" >
        GOODSUUID = #{goodsuuid,jdbcType=INTEGER},
      </if>
      <if test="storeuuid != null" >
        STOREUUID = #{storeuuid,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=DATE},
      </if>
      <if test="checktime != null" >
        CHECKTIME = #{checktime,jdbcType=DATE},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null" >
        CHECKER = #{checker,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upup.model.Inventory" >
    update inventory
    set GOODSUUID = #{goodsuuid,jdbcType=INTEGER},
      STOREUUID = #{storeuuid,jdbcType=INTEGER},
      NUM = #{num,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=CHAR},
      CREATETIME = #{createtime,jdbcType=DATE},
      CHECKTIME = #{checktime,jdbcType=DATE},
      CREATER = #{creater,jdbcType=INTEGER},
      CHECKER = #{checker,jdbcType=INTEGER},
      STATE = #{state,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>