<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upup.purchase.mapper.OrderdetailMapper" >
  <resultMap id="BaseResultMap" type="com.upup.purchase.model.Orderdetail" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderdetailGoodsId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderdetailGoodsname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orderdetailPrice" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="orderdetailNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderdetailMoney" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="ENDTIME" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ENDER" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STOREUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="STATE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ORDERSUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, orderdetailGoodsId, orderdetailGoodsname, orderdetailPrice, orderdetailNum, orderdetailMoney, ENDTIME, ENDER, STOREUUID, STATE,
    ORDERSUUID
  </sql>


  <insert id="insert" parameterType="com.upup.purchase.model.Orderdetail">
    insert into orderdetail (orderdetailGoodsId, orderdetailGoodsname,
    orderdetailPrice, orderdetailNum, orderdetailMoney,
    ORDERSUUID,STATE)
    values
    <foreach collection="orderDetailList" item="list" separator=",">
      (#{list.orderdetailGoodsId},
      #{list.orderdetailGoodsname},
      #{list.orderdetailPrice},
      #{list.orderdetailNum},
      #{list.orderdetailMoney},
      #{orderid},
      #{list.state}
      )
    </foreach>

  </insert>

  <update id="updateOrderdetail">
    update orderdetail
    <set >
      <if test="endtime != null" >
        ENDTIME = #{endtime},
      </if>
      <if test="ender != null" >
        ENDER = #{ender},
      </if>
      <if test="storeuuid != null" >
        STOREUUID = #{storeuuid},
      </if>
      <if test="state != null" >
        STATE = #{state},
      </if>
    </set>
    where ORDERSUUID = #{ordersuuid,jdbcType=INTEGER} and orderdetailGoodsId= #{orderdetailGoodsId}
  </update>

  <update id="updateTuiD">
    update orderdetail
    <set >
      <if test="state != null" >
        STATE = #{state},
      </if>
    </set>
    where ORDERSUUID = #{ordersuuid,jdbcType=INTEGER} and orderdetailGoodsId= #{orderdetailGoodsId}
  </update>

  <update id="updateTuiS">
    update orderdetail
    <set >
      <if test="state != null" >
        STATE = #{state},
      </if>
    </set>
    where ORDERSUUID = #{ordersuuid,jdbcType=INTEGER} and orderdetailGoodsId= #{orderdetailGoodsId}
  </update>

  <update id="updateTuiC">
    update orderdetail
    <set >
      <if test="state != null" >
        STATE = #{state},
      </if>
    </set>
    where ORDERSUUID = #{ordersuuid,jdbcType=INTEGER} and orderdetailGoodsId= #{orderdetailGoodsId}
  </update>


  <select id="selectByoid" resultType="com.upup.purchase.model.Orderdetail">
      select * from orderdetail where ORDERSUUID= #{orderuuid}
  </select>


</mapper>