<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upup.basics.mapper.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.upup.basics.model.Store" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sys_empUUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, NAME, sys_empUUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
    <select id="queryAllStore" resultType="com.upup.basics.model.Store">
      select <include refid="Base_Column_List"/> from store where 1=1
      <if test="null!=name and ''!=name">
        and name like concat('%',#{name},'%')
      </if>
      <if test="null!=sysEmpuuid and ''!=sysEmpuuid">
        and sys_empUUID like concat('%',#{sysEmpuuid},'%')
      </if>

    </select>
  <select id="queryStorePage" resultType="java.util.Map">
    select s.uuid as id,s.name as sname,w.username as username from store s,sys_emp w where s.sys_empUUID=w.uuid and w.depuuid=11
    <if test="null!=name and ''!=name">
        and s.name like concat('%',#{name},'%')
    </if>
    <if test="null!=sysEmpuuid and ''!=sysEmpuuid">
      and w.UUID like concat('%',#{sysEmpuuid},'%')
    </if>
    order by id desc
  </select>
  <select id="queryAllSysEmp" resultType="java.util.Map">
    select se.uuid as ckid,se.username as ckmz from dep d,sys_emp se where d.uuid=se.depuuid and se.depuuid=11
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.upup.basics.model.Store" >
    insert into store (NAME, sys_empUUID
      )
    values (#{name,jdbcType=VARCHAR}, #{sysEmpuuid,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.upup.basics.model.Store" >
    update store
    set NAME = #{name,jdbcType=VARCHAR},
      sys_empUUID = #{sysEmpuuid,jdbcType=INTEGER}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>