<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upup.basics.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.upup.basics.model.Supplier" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TELE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TYPE" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, NAME, ADDRESS, CONTACT, TELE, EMAIL, TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
    <select id="queryAllSupplier" resultType="com.upup.basics.model.Supplier">
      select <include refid="Base_Column_List"/> from supplier where 1=1
      <if test="null!=name and ''!=name">
        and name like concat('%',#{name},'%')
      </if>
    </select>
  <select id="querySupplierPage" resultType="com.upup.basics.model.Supplier">
    select  <include refid="Base_Column_List"/> from supplier where type=0
    <if test="null!=name and ''!=name">
      and name like concat('%',#{name},'%')
    </if>
    <if test="null!=address and ''!=address">
      and address like concat('%',#{address},'%')
    </if>
    <if test="null!=contact and ''!=contact">
      and contact like concat('%',#{contact},'%')
    </if>
    <if test="null!=tele and ''!=tele">
      and tele like concat('%',#{tele},'%')
    </if>
    <if test="null!=email and ''!=email">
      and email  like concat('%',#{email},'%')
    </if>
    order by uuid desc
  </select>
  <select id="queryCustomerPage" resultType="com.upup.basics.model.Supplier">
    select <include refid="Base_Column_List"/> from supplier where type=1
    <if test="null!=name and ''!=name">
      and name like concat('%',#{name},'%')
    </if>
    <if test="null!=address and ''!=address">
      and address like concat('%',#{address},'%')
    </if>
    <if test="null!=contact and ''!=contact">
      and contact like concat('%',#{contact},'%')
    </if>
    <if test="null!=tele and ''!=tele">
      and tele like concat('%',#{tele},'%')
    </if>
    <if test="null!=email and ''!=email">
      and email like concat('%',#{email},'%')
    </if>
    order by uuid desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.upup.basics.model.Supplier" >
    insert into supplier (NAME, ADDRESS,
      CONTACT, TELE, EMAIL, 
      TYPE)
    values (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{contact,jdbcType=VARCHAR}, #{tele,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR})
  </insert>
  <insert id="insert2" parameterType="com.upup.basics.model.Supplier">
    insert into supplier (NAME, ADDRESS,
      CONTACT, TELE, EMAIL,
      TYPE)
    values (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{contact,jdbcType=VARCHAR}, #{tele,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{type,jdbcType=CHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.upup.basics.model.Supplier" >
    update supplier
    set NAME = #{name,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      TELE = #{tele,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>