<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upup.sys.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.upup.sys.model.SysRole" >
    <constructor >
      <idArg column="UUID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
  <select id="getSysRoleByRoleNamePage" resultType="com.upup.sys.model.SysRole">
    select <include refid="Base_Column_List"/>
    from sys_role
    where 1=1
    and name like concat('%',#{name},'%')
  </select>
    <select id="getRoleListByEmpId" resultType="com.upup.sys.model.SysRole">
      select r.*
      from sys_emp e,sys_emp_role er,sys_role r
      where e.UUID = er.sys_empUUID
      and er.ROLEUUID = r.UUID
      and e.uuid = #{empId};
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_role
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteEmpRole">
    delete from sys_emp_role where sys_empUUID = #{empId}
  </delete>
  <insert id="insert" parameterType="com.upup.sys.model.SysRole" >
    insert into sys_role (NAME)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.upup.sys.model.SysRole" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="saveEmpRole">
    insert into sys_emp_role values(#{empUUID},#{roleUUID})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.upup.sys.model.SysRole" >
    update sys_role
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upup.sys.model.SysRole" >
    update sys_role
    set NAME = #{name,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>